/* REQUIRED STYLES */
@keyframes spin {
	from { transform:rotate(0deg); }
	to { transform:rotate(360deg); }
}
.spin {
	animation-name: spin;
	animation-duration: 5000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear; 
}

.ff-restapi-ajax-loader {
	position: relative;
}

.ff-restapi-ajax-loader .loading {
	display: none;
	font-size: 25px;
}